.sebm-google-map-container {
  height: 300px;
}

.check-in-button {
  display: block;
  margin: 10px auto;
}

.check-in-modal {
  display: block;
  width: 400px;
  height: 300px;
  position: relative;
  margin: 220px auto;
}

.map-block {
  width: 100%;
  height:100%;
  border: 1px solid black;
  padding: 10px
}
